@import "@/styles/imports";

.container {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	width: 100%;
	padding: 2rem 0;
	box-sizing: border-box;
	overflow: hidden;

	&__filters {
		display: flex;
		gap: 2rem;
		flex-direction: column;
		overflow: scroll;
		width: 100%;
		@include noScrollBar;

		&__parent_container {
			display: flex;
			gap: 2rem;
			padding: 0.5rem 0.5rem;
			border-radius: 10rem;
			background-color: #070707;
			border: 1px solid $col-border;
			width: fit-content;
			transition: all 0.3s ease-in-out;

			&__filter {
				display: flex;
				gap: 2rem;
				align-items: center;
				justify-content: center;
				padding: 1rem 3rem;
				// background-color: $col-white;
				font-size: 1.4rem;
				border-radius: 10rem;
				color: #a3a7ab;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&[data-active="true"] {
					background: $orange-grad;
					font-weight: 700;
					color: #fff;
				}
			}
		}

		&__children_container {
			display: flex;
			gap: 2rem;
			padding: 1rem 0;
			overflow: auto;
			// width: 100%;
			padding-right: 6rem;
			@include noScrollBar;
			// flex-wrap: wrap;

			row-gap: 1rem;

			&__filter {
				display: flex;
				gap: 2rem;
				align-items: center;
				padding: 1rem 1.5rem;
				background-color: $col-white;
				font-size: 1.4rem;
				border-radius: 10rem;
				cursor: pointer;
				border: 1px solid $col-border;
				transition: all 0.2s ease-in-out;
				min-width: 10rem;
				width: fit-content;
				justify-content: center;
				// max-width: 50%;

				&[data-active="true"] {
					background-color: #feefeb;
					font-weight: 700;
					border: 1px solid #f76039;
					color: #f76039;
				}
			}
		}
	}
	@include screenMax("mobile") {
		padding: 2rem 0rem;
		gap: 1rem;
		width: 100%;

		&__filters {
			row-gap: 1rem;
			width: 100%;
			padding: 0;
			overflow: scroll;

			&__parent_container {
				width: 100%;

				&__filter {
					flex: 1 1 auto;
					width: 100%;
				}
			}

			&__children_container {
				gap: 1rem;
				justify-content: space-between;
				width: 100%;

				&__filter {
					gap: 1rem;
					min-width: fit-content;
					flex-wrap: nowrap;
					width: fit-content;
					flex: 1;
				}
			}
		}
	}
}
