@import '@/styles/imports';

.breadcrumb {
	@include flex(flex-start, center);
	margin-bottom: 2.4rem;

	img{
		height: 16px;
		width: 16px;
	}
}

.text {
	@extend %text-14;
	text-transform: capitalize;
	
	span {
		text-decoration: underline;
	}
	h6 {
		font-weight: 600;
		
	}
	span {
		margin-right: 0.4rem;
		text-transform: capitalize;
	}
}
