@import "@/styles/imports";

.container {

    .header {
        h2 {
            font-size: 2.4rem;
            color: #1B1E21;
            font-weight: 900;
            margin-top: 0.5rem;
        }

        p {
            color: #4B525A;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            margin-bottom: 1.6rem;
        }
    }

    .type_lists {
        display: flex;
        gap: 2.4rem;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        -webkit-overflow-scrolling: touch;

        .list {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 1.2rem;

            label {
                white-space: nowrap;
                flex-shrink: 0;
            }
        }
    }


    .form_section {


        .add_project_btn {
            padding: 0;
            color: $col-orange;
            gap: 1rem;
            margin-top: 1.8rem;
            margin-bottom: 2rem;
        }
    }
}