@import "@/styles/imports";

.container{

    .header {
        h2 {
            font-size: 2.4rem;
            color: #1B1E21;
            font-weight: 900;
            margin-top: 0.5rem;
        }

        p {
            color: #4B525A;
            font-size: 1.4rem;
            margin-top: 0.5rem;
            margin-bottom: 1.6rem;
        }
    }

    .form_section {

        .add_project_btn {
            padding: 0;
            color: $col-orange;
            gap: 1rem;
            margin-top: 1.8rem;
        }
    }


    .save_proceed_btn{
        width: 100%;
        margin-top: 1.6rem;
        margin-bottom: 2rem;
    }
}