.spinner {
    display: inline-block;
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
    color: #d1d5db;
    animation: spin 1s linear infinite;
  
    &.MuiCircularProgress-root {
      // Any additional styles related to the class
    }
  
    // Customize size via a modifier class
    &.small {
      width: 2rem;
      height: 2rem;
    }
  
    &.large {
      width: 6rem;
      height: 6rem;
    }
  
    // Define the spin animation
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  