// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: "Good";
	src: url("/fonts/good-timing.otf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Cera";
	src: url("/fonts/cera-pro/Cera-Pro-Medium.otf");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

section,
article,
blockquote,
div,
span,
nav,
p,
ul,
li,
a {
	font-size: 1.6rem;
	line-height: 2.4rem;
	@include screenMax("mobile") {
		font-size: 1.4rem;
	}
}
