/* components/PayoutForm.module.scss */
@import "@/styles/imports";

.container {
	margin-top: 2rem;
	width: 100%;
	.payment_container {
		margin-top: 1.6rem;
		border: 1px solid $col-border;
		padding: 1.6rem;
		border-radius: 0.8rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		&__left {
			display: flex;
			gap: 1rem;
			width: 100%;

			img {
				height: 4rem;
				width: 4rem;
			}

			.name_amount {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.name {
					font-weight: 600;
					color: #1f222b;
					font-size: 1.6rem;
				}

				.balance_container {
					color: #7b8086;
					font-size: 1.4rem;
					font-weight: 400;

					.balance {
						font-weight: 700;
						font-size: 1.4rem;
					}
				}
			}
		}

		.icon {
			@include flex;
			width: 2.6rem;
			height: 2.6rem;
			transform: rotate(-90deg);
			border-radius: 50%;
			padding: 0.5rem;
			cursor: pointer;
		}
	}
	.modal {
		width: 50rem;
		.warning_container {
			@include flex(flex-start, center, nowrap);
			margin-bottom: 2rem;
			gap: 1rem;
			background: #fef5e6;
			color: #563600;
			padding: 1.6rem;
			border-radius: 1rem;
			font-size: 1.4rem;
			border-radius: 1.6rem;

			.icon {
				width: 2rem;
				height: 2rem;
				flex-shrink: 0;
			}

			p {
				font-size: 1.4rem;
				.bold_text {
					font-weight: 700;
					font-size: 1.4rem;
				}
			}
		}
		.details {
			@include flex(space-between, center);
			margin-bottom: 2rem;
			p {
				font-size: 1.4rem;
			}
			h3 {
				font-size: 1.6rem;
				font-weight: 700;
			}
		}
		.button {
			width: 100%;
		}
	}
}
