.radioLabel {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
	position: relative;

	&[data-padding="true"] {
		padding-left: 25px;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked ~ .radioCustom {
			border-color: #f76039;
			opacity: 1;
		}

		&:checked ~ .radioCustom:after {
			display: block;
		}

		&:disabled ~ .radioCustom {
			cursor: not-allowed;
			opacity: 0.5;
		}

		&:checked:disabled ~ .radioCustom {
			opacity: 1;
		}
	}

	.radioCustom {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		background-color: #fff;
		border: 2px solid #a4a6a7;
		border-radius: 50%;
		vertical-align: middle;
		margin-right: 8px; // Adjust this as needed for spacing between radio and label

		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #f76039;
			transform: translate(-50%, -50%);
		}
	}
}
