@import "@/styles/imports";

.container {

    label {
        @extend %text-14;
        color: #1b1e21;
    }
    
    .uploadBox {
        margin-top: 0.8rem;
        border: 2px dashed #dcdcdc;
        border-radius: 0.8rem;
        width: 100%;
        height: 18rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: border 0.2s ease;
        background-color: #fff;

    }

    .placeholder {
        text-align: center;
        color: #1B1E21;
        font-size: 1.6rem;
        padding: 4.8rem;

        .icon {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .link {
            color: #f2643c;
            font-weight: 500;
        }

        .file_upload_text{
            margin-top: 1.6rem;

        }
    }

    .preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video_preview{
        height: 40rem;
    }

}