.add_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 50%;
	font-size: 3rem;
	font-weight: 700;
	color: #102a43;
	background-color: #f76039;
	position: absolute;
	bottom: 2rem;
	right: 0.5rem;
	width: 6rem;
	height: 6rem;
}
