@import "@/styles/imports";

.container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(2, 1, 6, 0.58); /* Adjusted opacity for better effect */
    height: 100vh;
    backdrop-filter: blur(10px); /* The blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    overflow: hidden; /* Prevent content overflow during animation */

    @keyframes slideInRight {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideOutRight {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    &[data-show='true'] {
        display: flex;
        justify-content: flex-end;
        animation: slideInRight 0.1s forwards;
    }

    &[data-show='false'] {
        animation: slideOutRight 0.1s forwards;
    }

    .content {
        height: 100%;
        width: 51rem;
        background-color: #fff;

        .header{
            display: flex;
            width: 100%;
            justify-content: space-between;
            border: 1px solid #F0F0F1;
            align-items: center;
            padding:  2.4rem;

            .close_icon{
                cursor: pointer;
            }
        }

        .empty_wishlist_container{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 15rem;

            .image_container{
                height: 8rem;
                width: 8rem;
            }

            button{
                gap: 0.5rem;
                animation: all 2s ease-in-out;
            }

            h2{
                font-weight: 700;
                font-size: 1.8rem;
                color: #1B1E21;
            }

            p{
            color: #4B525A;
            font-size: 1.4rem;
            font-weight: 400;
            }

            .explore_container{
                background-color: #fff;
                display: none;
                animation: all 2s ease-in-out;
                width: 100%;
                margin-top: 0.8rem;
                box-shadow: 0px 2px 30px 0px #120E0614;
                border-radius: 0.8rem;

                &[data-show='true']{
                    display: flex;
                    flex-direction: column;
                }
                .explore_item{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 1.2rem 1.6rem;

                    img{
                        height: 2.4rem;
                        width: 2.4rem;
                    }

                    p{
                        color: #4B525A;
                        font-size: 1.6rem;
                        font-weight: 400;
                    }
                }

                .explore_item:first-child{
                    border-bottom: 1px solid $col-border;
                }
            }
        }
    }
}
