@import "@/styles/imports";

.section {
	// @include flex(space-between);
	.container {
		gap: 2.2rem;
		@include grid(repeat(4, 1fr), 2.4rem);
		max-width: $max-width;
		margin-inline: auto;
	}
	.box {
		background-color: #fafafa;
		padding: 2.4rem;
		border-radius: 0.8rem;
		// width: 41.1rem;
		width: 100%;
		.icon {
			position: relative;
			width: 5.6rem;
			height: 5.6rem;
		}
		.text {
			margin-top: 4rem;
			h3 {
				@extend %title-24;
				color: #1b1e21;
				font-family: $font-good;
				margin-bottom: 0.8rem;
			}
			p {
				color: #4b525a;
			}
		}
	}
	@include screenMax("mobile") {
		.container {
			grid-template-columns: 100%;
		}
		.box {
			width: 100%;
		}
	}
}
